

*{margin: 0;padding: 0;text-decoration: none;}

body{background-image: url('img/bg.png');
text-align: center;
background-repeat: no-repeat;
background-position: center;
}



header{
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 100;
  top:0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}

nav{
  z-index: 200;
  width: 815px;
  display: flex;
  justify-content: flex-end;
}



header nav ul{
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 500px;
  height: 30px;
}

header nav ul li{
  display: flex;
  width: 100px;
  justify-content: center;
  align-items: center;
}

header nav ul li a{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.1em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: -0.05em;

}

header > nav > ul > li > a{
  color: #888888;
}

header > nav > ul > li > a:hover{
  color: #962F1D;
  font-size: 1.3em;
  font-weight: 800;
}

main{

    width: 100%;
    height: 600px;
    margin-top: 150px;
    background-image: url('img/00_bg_02.png');
    background-position: center;
    background-repeat: no-repeat;


}

.main_wrap{width: 1005px;
height: 300px;
margin: 0 auto;
}

.text_1{
  width: 400px;
  height: 100px;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
font-size: 40px;
left: 0px;
font-weight: 800;
}

.text_2{
  width: 400px;
font-weight: 800;
  font-family: 'Noto Sans KR', sans-serif;
font-size: 33px;
text-align: left;
color: #2E72F4;
}

section{
  background-position: center;
  background-size: cover;
  width: 100%;
  position: static;
  display: flex;
  justify-content: center;
  overflow: hidden;00

}



.bt_wrap{
  position: static;
  width: 1005px;
  height: 400px;
  display: flex;
  justify-content: space-between;
  bottom: 42px;



}
.bt_wrap a{
  display: block;
  width: 304px;
  height: 304px;

}
.bt_wrap a:hover{
filter: contrast(130%);
  transition: 0.5s;

}
.bt_wrap a .butt{
  height: 304px;
  text-align: center;
  opacity: 85%;
  border-radius: 30px;

}
.bt1{background-image: url('img/bt1.png');
background-color: #434343;
}
.bt2{background-image: url('img/bt2.png');}
.bt3{background-image: url('img/bt3.png');}

.butt h2{
  font-size: 2em;
  color: #ffffff;
  font-family: 'Noto Sans KR', sans-serif;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  padding-top: 17px;
  line-height: 250px;
  filter: drop-shadow(0px 0px 3px black);
}



content{
width: 100%;
height: 2612px;

}


.ct_wrap{
 height: 2250px;
 width: 1005px;

 background-image: url('img/00_bg_03.png');
 margin: 0 auto;
 text-align: center;

}


footer{
height: 200px;
  position: absolute;
  display: flex;
  color: #999999;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;

  }
  .footer_bg{
  position: absolute;
  width: 100%;
  height: 68px;
  background-color: white;
  opacity: 17%;
  }




/*---sub01---*/

.sub01_01{
width: 1920px;
height: 4200px;
margin: 0 auto;
background-color: white;
}

.sub01_02{
width: 100%;
margin: 0 auto;

}

/*---sub02---*/
.sub02_01{
width: 1920px;
background-color: #EFEFEF;
text-align: center;

}

.sub02_02{
width: 1920px;
margin: 0 auto;
}



/*---sub03---*/
.sub03_01{
  width: 1920px;
  background-color: white;
  text-align: center;

}

.sub03_02{

  width: 1920px;
  margin: 0 auto;

}



/*---sub04---*/
.sub04_01{
  width: 1920px;
  background-color: #EFEFEF;
  text-align: center;

}

.sub04_02{

  width: 1920px;
  margin: 0 auto;

}
